*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --whitesmoke: #fff;
}

.videoContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left-text{
    position: absolute;
    top: 50%;
    left:10%;
    animation: About-load 800ms ease-in 500ms;

}

.left-text h1{
    color: var(--whitesmoke);
    font-size: 84px;
}
.left-text{
    color: #fff;
    font-size: 25px;
}


@keyframes About-load {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}





/* culture section  */


.header-left-text{
    position: absolute;
    top: 50%;
    left:10%;
    animation: About-load 800ms ease-in 500ms;

}

.header-left-text h1{
    color: var(--whitesmoke);
    font-size: 86px;
}

.header-left-text p{
    color: #fff;
    font-size: 25px;
}

@keyframes culture-text-load {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


/* contact us page  */



